:selected *,
:selected,
checkbutton > check,
radiobutton > radio,
selection,
tooltip * {
  color: white;
}

.monospace,
.monospace > text {
  color: rgba(255, 255, 255, .7);
}

* {
  /* outline: none; */
  color: black;
  font-weight: normal;
}
