#XfcePanelWindow,
.xfce4-panel .tasklist .toggle:checked {
  border-radius: 4px;
}

.context-menu,
.menu,
menu {
  border-radius: 0;
  border: 2px solid #5e81ac;
  padding: 6px 0;
}

textview,
textview > * {
  /* gitg */
  background-color: #3b4252;
}

* {
  font-weight: normal;
  outline-style: none;
}

decoration {
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}

scrolledwindow > iconview.frame.view {
  /* gthumb */
  font-size: 10.6pt;
}

tooltip {
  opacity: 0;
}

#GeanyMainWindow notebook {
  border-right: 0;
}

.xfce4-panel {
  background-color: #4c566a;
  color: #d8dee9;
}

.xfce4-panel .genmon_value {
  font-size: 14px;
}

.xfce4-panel .tasklist .toggle {
  background-color: transparent;
  box-shadow: none;
}

.xfce4-panel .tasklist .toggle:checked {
  background-color: #d8dee9;
}

