"*":
  core:
    allowPendingPaneItems: false
    automaticallyUpdate: false
    colorProfile: "srgb"
    disabledPackages: [
      "github"
      "spell-check"
    ]
    telemetryConsent: "no"
  editor:
    lineHeight: 1.25
    maxScreenLineLength: 5000
    preferredLineLength: 79
    scrollPastEnd: true
    tabType: "soft"
  "linter-flake8":
    executablePath: "~/Documents/python/flake8/bin/flake8"
    ignoreErrorCodes: [
      "D100"
      "D101"
      "D102"
      "D103"
      "D104"
      "D105"
      "D106"
      "D107"
    ]
    maxLineLength: 100
  "linter-js-standard":
    lintHtmlFiles: true
    lintMarkdownFiles: true
  welcome:
    showOnStartup: false
